
#TexCode {
    padding-top: 2%;
    margin-bottom: 10%;
    cursor: pointer;
    margin: auto;
    width: 28%;
    font-size: 2vmin;
    margin-bottom: 1%;
    text-align: left;
    transition: all 0.2s ease-in-out;
}

img {
    width: 3vmin;
    padding-top: 2%;
    margin-bottom: 5%;
    cursor: pointer;
    margin-bottom: 14vh;
}

img:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(1px, 0, 0);
    }
    
    30%, 50%, 70% {
      transform: translate3d(-1px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(1px, 0, 0);
  }
}